*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background:#0b0218;
}


.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:16px 200px;
  background:#412567;
}

.nav-menu{
  display:flex;
  gap:30px;
  color:white;
}

#before-color{
  color:white;
}

#after-color{
  background: linear-gradient(180deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
  -webkit-background-clip:text;
  background-clip:text;
  -webkit-text-fill-color:transparent;
}

.nav-btn{
  width:135px;
  height:44px;
  border-radius:999px;
  color:white;
  background: linear-gradient(47.64deg,#F7E93F,#FB09B4,#9100F8);
  border:none;
  cursor:pointer;
}

.menu{
  display:none;
  color:white;
  font-size:22px;
}


.hero{
  min-height: calc(100vh - 80px);

  background-image: url("B13-A02-TechWave/assets/hero-bg.png");
  background-repeat: no-repeat;
  background-position: center center; 
  background-size: cover;             

  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  text-align:center;
  color:white;
}



.mic-wrapper{
  position:relative;
  width:220px;
  height:220px;
  margin-bottom:24px;
}

.mic-bg{
  width:100%;
  height:100%;
}

.mic-img{
  position:absolute;
  top:50%;
  left:50%;
  width:90px;
  transform:translate(-50%, -50%);
}

.badge{
  position:absolute;
  top: 3px;
  right:-7px;
  background:#00ff9c;
  color:black;
  font-size:12px;
  padding:4px 10px;
  border-radius:20px;
  font-weight:bold;
}

.hero-title{
  font-size:48px;
  margin-bottom:8px;
}

.hero-subtitle{
  font-size:14px;
  opacity:0.8;
  max-width:420px;
  margin-bottom:24px;
}

.hero-buttons{
  display:flex;
  gap:16px;
}

.btn{
  padding:10px 22px;
  border-radius:999px;
  text-decoration:none;
  font-size:14px;
  display:inline-flex;
  align-items:center;
  gap:8px;
}

.btn.spotify{
  background: linear-gradient(180deg,#F7E93F,#FB09B4,#9100F8);
  color:black;
}

.btn.outline{
  border:1px solid #00ff9c;
  color:#00ff9c;
}



.nav-btn{
  transition: all 0.35s ease;
  background-size: 200% 200%;
}

.nav-btn:hover{
  background-position: right center;
  transform: translateY(-2px);
  box-shadow: 0 10px 25px rgba(251, 9, 180, 0.45);
}

.nav-btn i{
  transition: transform 0.3s ease;
}

.nav-btn:hover i{
  transform: translateX(5px);
}


.btn{
  transition: all 0.35s ease;
}


.btn.spotify{
  background-size: 200% 200%;
}

.btn.spotify:hover{
  background-position: right center;
  transform: translateY(-3px);
  box-shadow: 0 12px 30px rgba(251, 9, 180, 0.45);
}


.btn.outline:hover{
  background:#00ff9c;
  color:#000;
  transform: translateY(-3px);
  box-shadow: 0 10px 25px rgba(0, 255, 156, 0.4);
}


.btn i{
  transition: transform 0.3s ease;
}

.btn:hover i{
  transform: translateX(5px);
}



@media (max-width:768px){
  .navbar{
    padding:16px 20px;
  }
  .nav-menu,
  .nav-btn{
    display:none;
  }
  .menu{
    display:block;
  }
  .hero-title{
    font-size:36px;
  }
}



